<details open>
    <summary>Programming</summary>
    <div><a href="pages/programming/programming" class="md-link">プログラミング</a></div>
    <div><a href="pages/programming/linux" class="md-link">Linux</a></div>
    <div><a href="pages/programming/vscode" class="md-link">VSCode</a></div>
    <div><a href="pages/programming/makefile" class="md-link">Makefile</a></div>
    <div><a href="pages/programming/regex" class="md-link">正規表現</a></div>
    <div><a href="pages/programming/sqlite" class="md-link">SQLlite</a></div>
    <div><a href="pages/programming/markdown" class="md-link">Markdown</a></div>
</details>

<details open>
    <summary>C言語</summary>
    <div><a href="pages/c/c" class="md-link">C言語</a></div>
    <div><a href="pages/c/cpp" class="md-link">C++</a></div>
</details>

<details open>
    <summary>Python</summary>
    <div><a href="pages/python/python" class="md-link">Python</a></div>
    <div><a href="pages/python/pip" class="md-link">pip</a></div>
    <div><a href="pages/python/venv" class="md-link">venv</a></div>
    <details open>
        <summary>Standard</summary>
        <div><a href="pages/python/standard/os" class="md-link">OS</a></div>
        <div><a href="pages/python/standard/subprocess" class="md-link">subprocess</a></div>
        <div><a href="pages/python/standard/sqlite3" class="md-link">SQLite3</a></div>
        <div><a href="pages/python/standard/shutil" class="md-link">shutil</a></div>
    </details>
    <details open>
        <summary>External</summary>
        <div><a href="pages/python/external/flask" class="md-link">Flask</a></div>
        <div><a href="pages/python/external/fast_api" class="md-link">FastAPI</a></div>
        <div><a href="pages/python/external/requests" class="md-link">requests</a></div>
        <div><a href="pages/python/external/beautifulsoup" class="md-link">BeautifulSoup</a></div>
        <div><a href="pages/python/external/markdown_python" class="md-link">Markdown(python)</a></div>
    </details>
</details>

<details open>
    <summary>WEB</summary>
    <div><a href="pages/web/javascript" class="md-link">JavaScript</a></div>
    <div><a href="pages/web/html" class="md-link">HTML</a></div>
</details>