<details open>
    <summary>Programming</summary>
    <a href="{{ site.baseurl }}/pages/programming/programming" class="md-link">プログラミング</a>
    <a href="{{ site.baseurl }}/pages/programming/linux" class="md-link">Linux</a>
    <a href="{{ site.baseurl }}/pages/programming/vscode" class="md-link">VSCode</a>
    <a href="{{ site.baseurl }}/pages/programming/makefile" class="md-link">Makefile</a>
    <a href="{{ site.baseurl }}/pages/programming/regex" class="md-link">正規表現</a>
    <a href="{{ site.baseurl }}/pages/programming/sqlite" class="md-link">SQLlite</a>
    <a href="{{ site.baseurl }}/pages/programming/markdown" class="md-link">Markdown</a>
</details>

<details open>
    <summary>C言語</summary>
    <a href="{{ site.baseurl }}/pages/c/c" class="md-link">C言語</a>
    <a href="{{ site.baseurl }}/pages/c/cpp" class="md-link">C++</a>
</details>

<details open>
    <summary>Python</summary>
    <a href="{{ site.baseurl }}/pages/python/python" class="md-link">Python</a>
    <a href="{{ site.baseurl }}/pages/python/pip" class="md-link">pip</a>
    <a href="{{ site.baseurl }}/pages/python/venv" class="md-link">venv</a>
    <details open>
        <summary>Standard</summary>
        <a href="{{ site.baseurl }}/pages/python/standard/os" class="md-link">OS</a>
        <a href="{{ site.baseurl }}/pages/python/standard/subprocess" class="md-link">subprocess</a>
        <a href="{{ site.baseurl }}/pages/python/standard/sqlite3" class="md-link">SQLite3</a>
        <a href="{{ site.baseurl }}/pages/python/standard/shutil" class="md-link">shutil</a>
    </details>

    <details open>
        <summary>External</summary>
        <a href="{{ site.baseurl }}/pages/python/external/flask" class="md-link">Flask</a>
        <a href="{{ site.baseurl }}/pages/python/external/fast_api" class="md-link">FastAPI</a>
        <a href="{{ site.baseurl }}/pages/python/external/requests" class="md-link">requests</a>
        <a href="{{ site.baseurl }}/pages/python/external/beautifulsoup" class="md-link">BeautifulSoup</a>
        <a href="{{ site.baseurl }}/pages/python/external/markdown_python" class="md-link">Markdown(python)</a>
    </details>
</details>

<details open>
    <summary>WEB</summary>
    <a href="{{ site.baseurl }}/pages/web/javascript" class="md-link">JavaScript</a>
    <a href="{{ site.baseurl }}/pages/web/html" class="md-link">HTML</a>
</details>